[submodule "bundle/vim-easydebugger"]
	path = bundle/vim-easydebugger
	url = git@github.com:jayli/vim-easydebugger.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
